.Orbite-Terre {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;   
  height: 600px;  
  transform: translate(-50%, -50%);
  border: 1px dashed rgba(255, 255, 255, 0.3);  
  border-width: 2px;
  border-color: rgb(187, 187, 187);
  border-radius: 50%;
  animation: rotation 3.6s linear infinite;  
  z-index: 5;
}

.Terre {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 40px; 
  height: 40px;
  background: radial-gradient(circle, #4d94ff, #0066cc); 
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.3); 
  z-index: 2;
  position: relative;  
}

