.Orbite-Terre {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;   
  height: 700px;  
  transform: translate(-50%, -50%);
  border: 1px dashed rgba(255, 255, 255, 0.3);  
  border-width: 2px;
  border-color: rgb(187, 187, 187);
  border-radius: 50%;
  animation: rotation 20s linear infinite;  
  z-index: 1;
}

.Terre {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 40px; 
  height: 40px;
  background: radial-gradient(circle, #4d94ff, #0066cc); 
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.3); 
  z-index: 2;
  position: relative;  
}


.Terre::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 30%;
  background: url('https://cdn.pixabay.com/photo/2017/08/30/03/13/cloud-2694636_960_720.png') no-repeat center;
  background-size: contain;
  opacity: 0.6;
  animation: nuages 10s infinite linear; 
}