.Orbite-Venus, .Venus {
    z-index: 2;
}

.Orbite-Venus {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    border: 1px dashed rgba(255, 200, 100, 0.4);
    border-width: 3px;
    border-radius: 50%;
    animation: rotation 5.5s linear infinite;
}

.Venus {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: #e6c79c;
    border-radius: 50%;
    z-index: 2;
}
