.loading-screen {
    background-color:rgb(0, 0, 0);
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  .loading-screen .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
 
  
  /* classe cachée après chargement */
  .loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
  }
  